
/* --------->>> v.1.8 (Superfish v.1.4.8 or higher required) <<<--------- */

ul.admin-menu { position:fixed; top:0; width:100%; background-color:#222; font-family:Arial, Helvetica, sans-serif; z-index:9999; }

ul.admin-menu li a { display:block; float:left; padding:0 10px; color:#eee; font-size:12px; text-decoration:none; line-height:21px; }

ul.admin-menu li a:hover { text-decoration:underline; }

ul.admin-menu li a.active { color:#fff !important; }

ul.admin-menu ul { width:180px; background-color:#222; }

ul.admin-menu ul li a { float:none; border-bottom:#333 solid 1px; }

ul.admin-menu ul li a:hover { background-color:#111; }

ul.admin-menu ul li.menuparent > a { background-image:url(../images/admin_menu_menuparent.png); background-position:161px 50%; background-repeat:no-repeat; }

ul.admin-menu li:hover > ul,
ul.admin-menu li.sfHover > ul { top:21px; margin:0; }

ul.admin-menu li li:hover > ul,
ul.admin-menu li li.sfHover > ul { top:0; left:100%; }

/* Extra */

ul.admin-menu li.sf-depth-2.last { float:right; }