
body { font-size:16px; }

/* --------->>> 1. LAYOUT <<<--------- */

#page-wrapper { margin:0 auto; }

#page { margin:0 10px; }

/* --------->>> 2. DRUPAL <<<--------- */

/* Menu reset */

ul.menu { list-style:none; }

ul.menu li { list-style-image:none; list-style-type:none; margin:0; padding:0; }

ul.menu li ul { margin-left:10px; }

/* Tabs */

ul.tabs { margin:0 0 10px; padding:0; border-bottom:#ddd solid 1px; }

ul.tabs li { display:inline; float:left; padding:0; border:none; }

ul.tabs li a { display:block; height:22px; padding:0 10px; font-size:13px; line-height:22px; }

ul.tabs.primary li a { margin-right:2px; border:#ddd solid 1px; border-bottom:none; background-color:#eee; }

ul.tabs.primary li a.active { background-color:#fff; color:#000 !important; }

ul.tabs.secondary li a.active { border-bottom:#ddd solid 4px; color:#000 !important; }

/* --------->>> 3. HTML ELEMENTS <<<--------- */

a { }

a:hover { }

a.active { }

blockquote { }

h1,
h2,
h3,
h4,
h5,
h6,
p { margin-bottom:10px; font-weight:normal; }

img { max-width:100%; height:auto; }

table { width:100%; }

/* Forms */

input,
select,
textarea { font-family:sans-serif; font-size:inherit; }

input.form-text,
textarea { padding:4px; border:#ddd solid 1px; }

/* Blocks */

/* Nodes */

.node b,
.node strong { font-weight:bold; }

.node img { display:block; }

.node table { margin-bottom:10px; }

.node table th,
.node table td { padding:4px; }

.node table th { padding-right:4px; border-bottom:#ddd solid 2px; color:#555; font-weight:bold; }

.node table td { border-bottom:#ddd solid 1px; }

.node table tr.odd td { background-color:#f3f3f3; }

.node table tr.even td { background-color:#e3e3e3; }

.node table tbody { border-top:#ddd solid 2px; }

.node ol,
.node ul { margin:20px 0 20px 40px; }

.node ol li,
.node ul li { margin:2px 0; }

.node ol li { list-style:decimal; }

.node ul li { list-style:square; }